@import url(http://fonts.googleapis.com/css?family=Titillium+Web:200italic,200,300,300italic,900,400,700,400italic,700italic,600,600italic);
/**
*
*   LESS Functions
*
**/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body {
  line-height: 1;
  color: #555;
}
ol,
ul {
  margin: 18px;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
*,
*::before,
*::after {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html[breakpoint="xs"] .wrap-content {
  width: 90%;
  margin: 0 auto;
}
html[breakpoint="s"] .wrap-content {
  width: 90%;
  margin: 0 auto;
}
html[breakpoint="m"] .wrap-content {
  width: 688px;
  margin: 0 auto;
}
html[breakpoint="l"] .wrap-content {
  width: 960px;
  margin: 0 auto;
}
html[breakpoint="xl"] .wrap-content {
  width: 1200px;
  margin: 0 auto;
}
body,
main {
  background: #f5f8fa;
}
body {
  font-size: 20px;
  line-height: 1.4;
  font-family: 'Titillium Web', arial;
  background: #f5f8fa;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
  position: absolute;
}
img {
  max-width: 100%;
  margin: 0 auto 20px;
  display: block;
  border-radius: 4px;
}
p {
  margin-bottom: 20px;
}
p img {
  border: solid 1px #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
main {
  background: #f5f8fa;
  position: relative;
  z-index: 50;
  margin-bottom: 18px;
  width: 100%;
  padding: 0 0 30px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
a:hover,
a:active {
  color: #555;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  font-family: 'Titillium Web', arial;
  font-weight: bold;
  line-height: 100%;
  margin: 36px 0 10px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
blockquote {
  padding: 0px 15px;
  color: #777;
  border-left: 4px solid #DDD;
}
.title-med {
  color: #000;
  line-height: 46px;
  font-size: 30px;
  margin: 36px 0 18px;
  border-bottom: solid 1px #e1e8ed;
  border-top: solid 1px #e1e8ed;
}
header {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: auto;
}
.social__list {
  float: right;
  margin: 0;
}
.social__item {
  float: right;
  display: block;
  font-size: 2em;
  margin: .15em 0 .15em .5em;
}
.social__item a {
  display: block;
}
.social__link path {
  fill: #000;
}
.social__link:hover path,
.social__link:active path {
  fill: #555;
}
#logo {
  margin: 0;
  font-size: 2em;
}
#logo a {
  line-height: 1.4;
  float: left;
  color: #000;
  padding: 0.15em 0;
  font-weight: 900;
}
#logo a:hover,
#logo a:active {
  color: #555;
}
.main-banner,
.main-banner img {
  width: 100%;
}
.main-banner {
  max-height: 500px;
  overflow: hidden;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}
.profile-bar {
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3);
  margin: 0 0 38px 0;
}
.picure-bar {
  display: block;
  float: left;
  margin-top: -120px;
  overflow: hidden;
  position: relative;
  background: #fff;
  border: solid 5px #fff;
  border-radius: 12px;
  box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
  width: 200px;
  height: 200px;
}
.img-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.cite-bar {
  display: block;
  line-height: 60px;
  text-align: right;
  color: #000;
  font-weight: bold;
  font-size: 32px;
}
.categories {
  margin: 2em 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  list-style: none;
}
.categoryTag {
  margin: 0px 5px;
  padding: .25em .5em;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: gray;
}
.talks {
  background-color: orange;
}
.modules {
  background-color: purple;
}
.ES6 {
  background-color: yellow;
}
.Interview {
  background-color: green;
}
.post {
  border-radius: 5px;
  border: solid 1px #e1e8ed;
  background: #fff;
  float: left;
  width: 100%;
  margin: 0 5px 10px;
  -ms-transition: all 250ms linear 0;
  -moz-transition: all 250ms linear 0;
  transition: all 250ms linear 0;
}
.post:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.post img,
.post iframe {
  display: none;
}
.post-content {
  padding: 10px;
}
.post-info {
  border-bottom: solid 1px #e1e8ed;
  margin: 0;
  width: 100%;
  height: 40px;
}
.post-date,
.post-hour {
  line-height: 40px;
  display: block;
  padding: 0 10px;
  color: #000;
}
.post-title {
  height: 68px;
  font-size: 30px;
  line-height: 100%;
  display: block;
  text-align: center;
  padding: 0 10px;
}
.post-date {
  float: left;
}
.post-hour {
  float: right;
}
.post-excerpt {
  position: relative;
  overflow: hidden;
}
.post-excerpt h1,
.post-excerpt h2,
.post-excerpt h3,
.post-excerpt h4,
.post-excerpt h5,
.post-excerpt h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  color: #555;
  display: inline;
}
.post-excerpt p {
  display: inline;
}
#single #main {
  border-top: solid 5px #fff;
  box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
  padding-top: 8px;
}
.internal-banner img {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.internal-banner figcaption {
  position: fixed;
  left: 0;
  top: 0;
  display: table;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  width: 100%;
  height: auto;
}
.internal-banner .title {
  color: #fff;
  font-size: 72px;
  text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.7);
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.postContent {
  width: 75%;
  margin: 0 auto;
}
#footer {
  clear: both;
  position: absolute;
  bottom: 0;
  z-index: 75;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 30px;
}
#footer .wrap-content {
  background: #fff;
}
#footer cite {
  display: table;
  margin: 0 auto;
  line-height: 30px;
  font-weight: bold;
  font-size: 14px;
}
html[breakpoint='xs'] {
  /**
	*
	* HEADER
	*
	**/
  /**
	*
	* PROFILE BAR
	*
	**/
}
html[breakpoint='xs'] .social__item {
  font-size: 1em;
}
html[breakpoint='xs'] #logo {
  font-size: 1.5em;
}
html[breakpoint='xs'] .picure-bar {
  margin-top: 6px;
  margin-right: 10px;
  border: solid 2px #fff;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
html[breakpoint='xs'] .cite-bar {
  padding: 8px 0;
  line-height: 20px;
  font-size: 100%;
}
html[breakpoint='xs'] .title {
  font-size: 36px;
}
html[breakpoint='xs'] .postContent {
  width: 100%;
}
html[breakpoint='s'] {
  /**
	*
	* HEADER
	*
	**/
  /**
	*
	* PROFILE BAR
	*
	**/
}
html[breakpoint='s'] .social__item {
  font-size: 1em;
}
html[breakpoint='s'] #logo {
  font-size: 1.5em;
}
html[breakpoint='s'] .picure-bar {
  margin-top: 6px;
  margin-right: 10px;
  border: solid 2px #fff;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
html[breakpoint='s'] .cite-bar {
  padding: 8px 0;
  line-height: 22px;
  font-size: 100%;
}
html[breakpoint='s'] .title {
  font-size: 40px;
}
html[breakpoint='s'] .postContent {
  width: 100%;
}
html[breakpoint='m'] .cite-bar {
  font-size: 18px;
}
html[breakpoint='m'] .post {
  width: 334px;
}
html[breakpoint='l'] .cite-bar {
  font-size: 24px;
}
html[breakpoint='l'] .post {
  width: 310px;
}
html[breakpoint='xl'] .post {
  width: 390px;
}
html[breakpoint='xl'] .title {
  font-size: 96px;
}
.article-share {
  margin: 0;
  display: block;
  list-style: none;
}
.article-share li {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 30px;
  height: 30px;
}
.article-share .btn-share {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../../images/icons.png);
}
.article-share .btn-share.fb-share {
  background-position: -255px 0px;
}
.article-share .btn-share.tt-share {
  background-position: -295px 0px;
}
.article-share .btn-share.gp-share {
  background-position: -335px 0px;
}
