@y: 30px;
@x: 30px;

@w: @y;
@h: @x;

.article-share {
	margin: 0;
	display: block;
	list-style: none;

	li {
		display: inline-block;
		margin: 0 5px 0 0;
		width: @y;
		height: @x;
	}

	.btn-share {
		display: block;
		width: @y;
		height: @x;
		background-image: url(../../images/icons.png);
				
		&.fb-share{
			background-position: -255px 0px;
		}
		&.tt-share{
			background-position: -295px 0px;
		}
		&.gp-share{
			background-position: -335px 0px
		}			
	}
}

.content-left{
    text-align: left;
}

.content-right{
    text-align: right;   
}

.content-job{
    li {
        border-bottom: solid 1px #ddd;
        margin: 20px 40px;
        padding-bottom: 20px;

        &:last-child {
            border: none;    
        }
    }
}

.skill-bar{
    display: block;
    background-color: #ddd;
    border-radius: 4px;
    margin: 10px 0;
    float: right;
    padding: 10px 20px;
    box-shadow: 0 0 2px rgba(0,0,0,0.6);
}

.skill-bar-10 {
    width: 10%;
}

.skill-bar-20 {
    width: 20%;
} 

.skill-bar-30 {
    width: 30%;
} 

.skill-bar-40 {
    width: 40%;
} 

.skill-bar-50{
    width: 50%;
} 

.skill-bar-60 {
    width: 60%;
} 

.skill-bar-70 {
    width: 70%;
} 

.skill-bar-80 {
    width: 80%;
} 

.skill-bar-90 {
    width: 90%;
} 

.skill-bar-100 {
    width: 100%;
} 
